/**FONTS **/

/* jersey-10-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jersey 10';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/jersey-10-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* libre-barcode-128-text-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Barcode 128 Text';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/libre-barcode-128-text-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
/* wallpoet-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Wallpoet';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/wallpoet-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* silkscreen-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Silkscreen';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/silkscreen-v4-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  



body{
    background-color: beige;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas{
    background-color: black;
    display: block;
}

/** Smartphones----------- */
@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
    }
}

/** Smartphones ---------  */
@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
    }
}